{% extends 'base.html.twig' %}

{% block title %}Signed in{% endblock %}

{% block body %}
    <div class="grid h-screen place-items-top">
        <div>
            <div class="flex  justify-center">
                <p>Foo</p>
            </div>
        </div>
    </div>
{% endblock %}
